.idea
.vscode
bin
*.iml
*.iws
*.eml
out/
.DS_Store
log/*.log
tmp/**
node_modules/
.sass-cache
k8s-workshop.kind.yaml
k8s-workshop.kubeconfig
script.sh
manifest.yaml
docker-ex*
docker-sol*
ex*
sol*
helm
k9s
kind
kubectl